@charset "utf-8";

input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    border: solid 1px;
    border-color: silver;
}

input[type="checkbox"] {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: .4rem;
    transform:scale(2.0);
}
