@charset "utf-8";

@import "../reset";
@import "./common";

div.center {
    text-align: center;
}

div.logo {
    margin-bottom: 200px;
}

div.item {
    margin-bottom: 10px;
}

input.field {
    text-align: left;
}

div.flex {
    display: flex;
}

div.sidemenu {
    width: 256px;
}

div.main {
    width: 256px;
    width: calc(100% - 256px);
}
