@charset "utf-8";

@import "../reset";
@import "./common";

div.center {
    text-align: center;
}

div.logo {
    margin-bottom: 200px;
}

div.item {
    margin-bottom: 10px;
}

input.field {
    text-align: left;
}
